<button nz-button title="Add New" nzType="primary" (click)="add()">
  <i nz-icon nzType="plus" nzTheme="outline"></i>
  Thêm Nhân Viên
</button>
<nz-table #basicTable [nzData]="employees">
  <thead>
    <tr>
      <th>Họ Tên</th>
      <th>Email</th>
      <th>Ngày bắt đầu</th>
      <th>Số điện thoại</th>
      <th>Skills</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
    </tr>
    <tr *ngFor="let employee of (employees$ | async)">
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.date | date: 'mediumDate' }}</td>
      <td>{{ employee.number }}</td>
      <td>{{ employee.skills }}</td>
      <td>
        <button nz-button title="Edit" nzType="primary" (click)="update(employee.id)">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <button nz-button title="Delete" nzType="danger" (click)="deleteEmployee(employee.id)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>