<!-- (ngSubmit)="addEmployee()" -->
<div>
  <div class="align">
    <nz-avatar [nzSize]="120" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" nzIcon="user"
      nzIconTheme="outline">
    </nz-avatar>
  </div>
  <form nz-form [formGroup]="employeeForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Họ Tên
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
        <input nz-input id="name" formControlName="name" placeholder="Name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" id="email" placeholder="Email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Started working" nzRequired>Ngày bắt đầu</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please choose a date!">
        <nz-date-picker formControlName="date"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="number" nzRequired>Số điện thoại</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please add phone number!">
        <input nz-input id="number" formControlName="number" placeholder="Phone number" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="skills" nzRequired>Skills</nz-form-label>
      <nz-form-control [nzSm]="9" [nzXs]="24" nzErrorTip="Please add skills!">
        <input nz-input id="skills" formControlName="skills" placeholder="skills" />
      </nz-form-control>
      <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="Please add Skill Percent!">
        <input nz-input id="skill_Percent" formControlName="skill_Percent" placeholder="Skill Percent" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="image" nzRequired>Image</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please add image!">
        <input nz-input id="image" formControlName="image" placeholder="image" />
      </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <div style="float: right">
          <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
          <button nz-button nzType="primary" (click)="addEmployee()">Add new Employee</button>
        </div>     
      </nz-form-control>
    </nz-form-item> -->
  </form>
  <div class="btn-footer">
    <button nz-button style="margin-right: 8px" (click)="close()">Thoát</button>
    <button nz-button nzType="primary" (click)="addEmployee()">Xác nhận</button>
  </div>
</div>
